---
layout: default
title: Tags
permalink: /tags/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<!-- begin tags -->
<section class="tags">

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}

    <div class="tags__inner is-hidden" id="{{ this_word | cgi_escape }}">

      <div class="container">
        <div class="tag__info">
          {% comment %}Check if the tag ends with an underscore{% endcomment %}
          {% assign last_char = this_word | slice: -1 %}
          {% assign display_tag = '' %}

          {% if last_char == '_' %}
          {% comment %}If it does, remove the underscore and capitalize all letters{% endcomment %}
          {% assign display_tag = this_word | remove: '_' | upcase %}
          {% else %}
          {% comment %}If it doesn't, replace underscores with spaces and capitalize each word{% endcomment %}
          {% assign tag_parts = this_word | split: '_' %}
          {% for part in tag_parts %}
          {% assign display_tag = display_tag | append: part | capitalize | append: ' ' %}
          {% endfor %}
          {% assign display_tag = display_tag | strip %}
          {% endif %}


          <h1 class="tag__name">{{ display_tag }} <span class="tag__counter">{{ site.tags[this_word].size }}</span></h1>
          <div class="tag__link">Check out the <a href="{{ '/blog' | relative_url }}">latest posts</a></div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="section-small">
              <div class="section__inner grid">
                {% for post in site.tags[this_word] %}
                  {% if post.title != null %}
                    {% include article.html %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    {% endunless %}
  {% endfor %}

</section>
<!-- end tags -->

<script>
  var tag_name = window.location.search.replace("?tag=", "#");
  if (tag_name) {
      var el = document.querySelector(tag_name);
      el.classList.remove("is-hidden");
    }
</script>